{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <title>Tienda de videojuegos</title>
    <link rel="stylesheet" href="{% static 'css/inicio.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </head>
  <body>
    <header>
      <div class="title-and-buttons">
        <h1>Tienda de videojuegos</h1>
        <div class="buttons">
          <a href="{% url 'registro' %}" class="btn-registrarme">Registrarse</a>
          <button>Iniciar sesión</button>
        </div>
      </div>
    </header>
    <main>
      <!-- aquí irían los juegos y otras secciones de la página -->
      
      
      {% for f in formulario %} 
      <tr>
        <td>{{f.nombre}}</td>
        <td>{{f.apellido}}</td>
        <td>{{f.email}}</td>
        <td>{{f.telefono}}</td>
        <td>{{f.password}}</td>
        <td></td>  
       {% endfor %}
      </tr>
       nombre = models.CharField(max_length=50)
    apellido = models.CharField(max_length=50)
    email = models.EmailField()
    telefono = models.CharField(max_length=20, blank=True)
    password
      
      
      
    </main>
  </body>
</html>
