{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <title>Tienda de videojuegos</title>
    <link rel="stylesheet" href="{% static 'css/inicio.css' %}">
  </head>
  <body>
    <header>
      <div class="title-and-buttons">
        <h1>Tienda de videojuegos</h1>
        <div class="buttons">
          <a href="{% url 'registro' %}" class="btn-registrarme">Registrarse</a>
          <a href="{% url 'inicio_sesion' %}" class="btn-iniciar-sesion">Iniciar Sesión</a>
      </div>
    </header>
    <main>
      <!-- aquí irían los juegos y otras secciones de la página -->
      
     <table> 
      <tr>
        <td>Nombre</td>
        <td>Apellido</td>
        <td>EMail</td>
        <td>Telefono</td>
        <td>Password</td>
        <td></td>  
      </tr>
      {% for f in formularios %} 
      <tr>
        <td>{{ f.nombre }}</td>
        <td>{{ f.apellido }}</td>
        <td>{{ f.email }}</td>
        <td>{{ f.telefono }}</td>
        <td>{{ f.password }}</td>
      </tr>
      {% endfor %}
    </table>
      
    </main>
  </body>
</html>
