{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <title>Tienda de videojuegos</title>
    <link rel="stylesheet" href="{% static 'css/inicio.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </head>
  <body>
    <header>
      <div class="title-and-buttons">
        <h1>Tienda de videojuegos</h1>
        <div class="buttons">
          <a href="{% url 'registro' %}" class="btn-registrarme">Registrarse</a>
          <button>Iniciar sesión</button>
        </div>
      </div>
    </header>
    <main>
      <!-- aquí irían los juegos y otras secciones de la página -->
      
     <table> 
      <tr>
        <td>Nombre</td>
        <td>Apellido</td>
        <td>EMail</td>
        <td>Telefono</td>
        <td>Password</td>
        <td></td>  
      </tr>
      {% for f in formularios %} 
      <tr>
        <td>{{ f.nombre }}</td>
        <td>{{ f.apellido }}</td>
        <td>{{ f.email }}</td>
        <td>{{ f.telefono }}</td>
        <td>{{ f.password }}</td>
      </tr>
      {% endfor %}
    </table>
      
    </main>
  </body>
</html>
