/* Estilos para el formulario de inicio de sesión */
body {
    font-family: 'Press Start 2P', cursive;
    background-image: url('https://i.imgur.com/Yl1mYfV.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    text-align: center;
}

h1 {
    font-size: 64px;
    margin-top: 50px;
    margin-bottom: 100px;
    text-shadow: 5px 5px 0 #000;
}

form {
    width: 500px;
    margin: 0 auto;
    text-align: center;
    background-color: #444;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}

label {
    display: block;
    margin-bottom: 10px;
    font-size: 24px;
    color: #fff;
}

input[type="email"],
input[type="password"] {
    display: block;
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    padding: 10px;
    border: none;
    background-color: #666;
    color: #fff;
    font-size: 18px;
    border-radius: 5px;
}

input[type="submit"] {
    display: inline-block;
    padding: 10px 30px;
    background-color: #007bff;
    border: none;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    border-radius: 5px;
}

input[type="submit"]:hover {
    background-color: #0069d9;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.btn-registrarme {
    display: inline-block;
    padding: 10px 30px;
    background-color: #444;
    border: none;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    border-radius: 5px;
    margin-right: 20px;
}

.btn-registrarme:hover {
    background-color: #333;
}

.iniciar_sesion {
    display: inline-block;
    padding: 10px 30px;
    background-color: #444;
    border: none;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    border-radius: 5px;
}

.iniciar_sesion:hover {
    background-color: #333;
}

form {
    /* otros estilos */
    margin-top: 100px;
}


