/* Estilos para la barra de navegación */
.navbar {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    margin-bottom: 30px;
  }
  .navbar-brand {
    font-size: 24px;
    font-weight: bold;
  }
  .nav-link {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    text-transform: uppercase;
    margin-left: 20px;
  }
  
  /* Estilos para los botones */
  .btn-registrarme {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin: 4px 2px;
    cursor: pointer;
  }
  .btn-iniciar-sesion {
    background-color: #2196F3;
    border: none;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin: 4px 2px;
    cursor: pointer;
  }